@import "../../styles/utils/colors.scss";

.userCard {
  padding: 20px;
  width: 328px;
  border-radius: 10px;
  background-color: $white-color;

  @media (min-width: 768px) {
    width: calc((100% - 16px) / 2);
  }
  @media (min-width: 1024px) {
    width: calc((100% - 58px) / 3);
  }
}

.userAvatar {
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 50%;
}

.userName {
  margin-bottom: 20px;
}

.title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;

  cursor: pointer;
}

.tooltip {
  position: relative;
  cursor: pointer;

  &::after {
    content: attr(title);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(0) translateY(100%) scale(0.5);
    background-color: $text-basic-color;
    color: $white-color;
    padding: 3px 16px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::after {
    opacity: 1;
    transform: translateX(50%) translateY(200%) scale(1);
  }
}
