@import "../../styles/utils/colors.scss";
@import "../../styles/utils/mixins.scss";

.heroContainer {
  padding-top: 40px;
  padding-bottom: 71px;

  background-image: url("/images/hero_background_mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    padding: 88px 194px;
    background-image: url("/images/hero_background_tablet.png");
  }
  @media (min-width: 1024px) {
    padding: 164px 322px;
    background-image: url("/images/hero_background_pc.png");
  }
  @media (min-width: 2560px) {
    padding: 164px 395px;
    background-image: url("/images/hero_background_max.png");
  }
}

.heroHeading {
  color: $white-color;
  margin-bottom: 21px;
}

.heroTitle {
  color: $white-color;
  margin-bottom: 32px;
}

.signUpButton {
  @include button;
  min-width: 100px;
  padding: 4px 22px;
}
