p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  text-align: center;
}

.global-container {
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .global-container {
    padding: 0 32px;
  }
}

@media (min-width: 1024px) {
  .global-container {
    width: 1024px;
    padding: 0 70px;
  }
}

@media (min-width: 2560px) {
  .global-container {
    width: 1170px;
    padding: 0;
  }
}
