$primary-color: #f4e041;
$secondary-color: #00bdd3;
$background-color: #f8f8f8;
$white-color: #ffffff;
$button-hover-color: #ffe302;
$button-disabled-color: #b4b4b4;
$input-color: #d0cfcf;
$input-label-color: #7e7e7e;
$input-error-color: #cb3d40;
$text-basic-color: #000000de;
