@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Oswald&display=swap");
@import "./colors.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Nunito", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-color: $background-color;
  color: $text-basic-color;
  text-align: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // for fixed header
  padding-top: 60px;
}
