@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap");
@import "../utils/colors.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Nunito", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-color: $background-color;
  color: $text-basic-color;
  text-align: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // for fixed header
  padding-top: 60px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
h1,
h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  text-align: center;
}

.global-container {
  margin: 0 auto;
  padding: 0 16px;

  @media (min-width: 768px) {
    padding: 0 32px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
    padding: 0 60px;
  }

  @media (min-width: 2560px) {
    max-width: 1170px;
    padding: 0;
  }
}
